.Palette {
	background: #28c3d4;
	color: #444;
	padding: 1rem;
	display: inline-flex;
	flex-direction: column;
}

.Palette h2 {
	margin-top: 0;
	margin-bottom: 1rem;
}

.Palette .colors {
	display: flex;
}

.Palette .PaletteItem {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	opacity: 0.5;
}

.Palette .PaletteItem:hover {
	opacity: 0.9;
}

.Palette .PaletteItem.active {
	opacity: 1;
}

.Palette .PaletteItem + .PaletteItem {
	margin-left: 0.5rem;
}
